/* colors */
/* text */
@font-face { font-family: 'Gotham'; src: url("fonts/GothamMedium.eot"); src: url("fonts/GothamMedium.eot?#iefix") format("embedded-opentype"), url("fonts/GothamMedium.woff") format("woff"), url("fonts/GothamMedium.ttf") format("truetype"); font-weight: 500; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url("fonts/GothamBold.eot"); src: url("fonts/GothamBold.eot?#iefix") format("embedded-opentype"), url("fonts/GothamBold.woff") format("woff"), url("fonts/GothamBold.ttf") format("truetype"); font-weight: bold; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url("fonts/GothamThin.eot"); src: url("fonts/GothamThin.eot?#iefix") format("embedded-opentype"), url("fonts/GothamThin.woff") format("woff"), url("fonts/GothamThin.ttf") format("truetype"); font-weight: 100; font-style: normal; }
@font-face { font-family: 'Gotham'; src: url("fonts/Gotham-Light.eot"); src: url("fonts/Gotham-Light.eot?#iefix") format("embedded-opentype"), url("fonts/Gotham-Light.woff") format("woff"), url("fonts/Gotham-Light.ttf") format("truetype"); font-weight: 300; font-style: normal; }
* { margin: 0px; padding: 0px; font-family: 'Gotham'; font-weight: 500; }

a { text-decoration: none; }

body { overflow: hidden; }

/* reusable classes */
.full-page, .full-width { width: 100%; }

.full-page, .full-height { height: 100vh; overflow-y: hidden; }

.centered { position: absolute; top: 50%; left: 50%; -webkit-transform: translate(-50%, -50%); -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%); }

[data-form="login"] { color: #808080; }
[data-form="login"] input { margin: 2.5px 0; padding: 5px; border-top: 0; border-right: 0; border-bottom: 1px solid #3e3e3e; border-left: 0; background-color: transparent; width: 100%; max-width: calc(100% - 10px); }
[data-form="login"] button { background-color: white; border: 2px solid #0099a7; width: 100%; border-radius: 5px; padding: 14px 0; font-size: 15px; margin-top: 5px; }
[data-form="login"] ::-webkit-input-placeholder { color: #808080; }

/* login */
[data-contents="login-form"] { overflow: hidden; background-color: #0099a7; }
[data-contents="login-form"] .login { padding: 10%; background-color: white; border-radius: 15px; min-width: 200px; }
[data-contents="login-form"] .login img { max-width: 100%; }

/* main app styles */
[data-contents="black-bar"] { height: 50px; background-color: #000000; position: fixed; }
[data-contents="black-bar"] img { height: 40px; margin-top: 5px; vertical-align: top; }
[data-contents="black-bar"] .ham-menu img { float: right; margin: 10px; height: 30px; }
[data-contents="black-bar"] #nav-icon4 { width: 50px; height: 50px; position: relative; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out; cursor: pointer; display: inline-block; vertical-align: top; float: right; }
[data-contents="black-bar"] #nav-icon4 span { display: block; margin: 0  auto; position: absolute; height: 3px; width: 30px; background: #fff; border-radius: 9px; opacity: 1; left: 10px; -webkit-transform: rotate(0deg); -ms-transform: rotate(0deg); transform: rotate(0deg); -webkit-transition: .25s ease-in-out; transition: .25s ease-in-out; }
[data-contents="black-bar"] #nav-icon4 span:nth-child(1) { top: 17px; -webkit-transform-origin: left center; -ms-transform-origin: left center; transform-origin: left center; }
[data-contents="black-bar"] #nav-icon4 span:nth-child(2) { top: 25px; -webkit-transform-origin: left center; -ms-transform-origin: left center; transform-origin: left center; }
[data-contents="black-bar"] #nav-icon4 span:nth-child(3) { top: 33px; -webkit-transform-origin: left center; -ms-transform-origin: left center; transform-origin: left center; }
[data-contents="black-bar"] #nav-icon4.open { background-color: #222a35; }
[data-contents="black-bar"] #nav-icon4.open span:nth-child(1) { -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); transform: rotate(45deg); top: 13px; left: 15px; }
[data-contents="black-bar"] #nav-icon4.open span:nth-child(2) { width: 0%; opacity: 0; }
[data-contents="black-bar"] #nav-icon4.open span:nth-child(3) { -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); top: 34px; left: 15px; }

[data-contents="userProfile"] { height: 100vh; width: calc(100% - 50px); position: fixed; z-index: 5; left: 100%; top: 50px; background: transparent; -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out; }

[data-contents="userProfile"].open { left: 50px; background: #222a35; -webkit-transition: .5s ease-in-out; transition: .5s ease-in-out; }

[data-contents="left-menu"] { background-color: #0099a7; width: 50px; position: fixed; height: calc(100% - 50px); top: 50px; }
[data-contents="left-menu"] ul { margin-top: 15px; display: table; height: 80%; }
[data-contents="left-menu"] ul a { color: white; display: table-row; }
[data-contents="left-menu"] ul a li img { width: 30px; height: 30px; margin-left: 10px; display: inline-block; }
[data-contents="left-menu"] ul a li span { display: block; font-size: 7px; font-weight: 100; width: 50px; text-align: center; }

.arena { position: fixed; top: 50px; left: 50px; height: calc(100% - 50px); width: calc(100% - 50px); background-color: #85c5cb; overflow-y: scroll; }

/* arena styles */
[arena-container] { width: calc(100% - 10px); margin: auto; }

[search] { width: calc(100% - 10px); display: block; margin: 0 auto; }
[search] input { width: calc(100% - 12px); padding: 6px; margin: 8px 0; border-radius: 15px; border: 0; }

[add] { padding: 8px 12px; background-color: white; display: inline-block; color: #808080; font-size: 14px; margin: 8px 0; border-radius: 15px; }

[link] { color: #0099a7; font-size: 14px; text-decoration: underline; }

[card-container] [card] { width: calc(100% - 10px); background-color: white; display: block; margin: 0 auto; border-radius: 5px; }
[card-container] [card] img { width: calc(100% - 16px); display: inline-block; padding: 8px; }
[card-container] [card] h5, [card-container] [card] p, [card-container] [card] a { display: block; font-size: 12px; font-weight: normal; padding-left: 8px; line-height: 1.3; }
[card-container] [card] h5 { font-size: 14px; }
[card-container] [card] [info] { padding-bottom: 8px; }

[form-container] { display: block; margin: 15px auto; width: 600px; }
[form-container] [regresar] { background-color: white; padding: 8px; margin: 8px 0; display: inline-block; vertical-align: top; border-radius: 15px; border: 1px solid #85c5cb; color: black; }
[form-container] [regresar] img { height: 20px; width: 20px; margin-right: 5px; position: relative; top: 2px; }
[form-container] [regresar] span { font-size: 16px; position: relative; top: -2px; }
[form-container] [add-form] { background-color: white; border-radius: 15px; border: 1px solid #85c5cb; overflow: hidden; }
[form-container] [add-form] h3 { background-color: #91d1d7; padding: 20px; text-align: center; }
[form-container] [add-form] [form-part] { padding: 15px; }
[form-container] [add-form] [form-part] input, [form-container] [add-form] [form-part] textarea { display: block; font-size: 16px; padding: 8px; margin: 8px; width: 420px; border: 1px solid #0099a7; border-radius: 5px; color: #3e3e3e; }
[form-container] [add-form] [form-part] [form-links] { width: 50%; display: block; margin: 0 auto; padding-top: 30px; }
[form-container] [add-form] [form-part] [form-links] a { padding: 15px; border: 1px solid #85c5cb; border-radius: 15px; width: 125px; color: #808080; }
[form-container] [add-form] [form-part] [form-links] a.active { background-color: #0099a7; color: white; }
[form-container] [add-form] [form-part] [mod-fields] { border: 1px solid #0099a7; padding: 8px; margin-left: 10px; position: relative; top: 15px; color: #808080; border-radius: 5px; }

#gmaps { width: 450px; height: 450px; }

/* media queries */
@media screen and (min-width: 550px) { [data-contents="userProfile"] { width: calc(100% - 150px); }
  [data-contents="userProfile"].open { left: 150px; }
  [data-contents="left-menu"] { z-index: 2; width: 150px; }
  [data-contents="left-menu"] ul { margin-top: 7.5px; width: 150px; }
  [data-contents="left-menu"] ul a li img { width: 25px; height: 25px; }
  [data-contents="left-menu"] ul a li span { display: inline-block; vertical-align: top; font-size: 15px; margin-left: 5px; margin-top: 5px; }
  .arena { width: calc(100% - 150px); left: 150px; } }
@media screen and (min-width: 760px) { [arena-container] { width: 600px; }
  [search] { width: 600px; }
  [data-contents="left-menu"] ul { height: 50%; }
  [card-container] [card] { width: 600px; }
  [card-container] [card] img { width: calc(30% - 16px); }
  [card-container] [card] [info] { display: inline-block; vertical-align: top; margin-top: 8px; } }
