/* tag Styles */
	* {
		margin: 0;
		padding: 0;
	}
	html {
		font-size: 16px;
	}
	body {
		font-size: 62.5%;
		font-family: 'Sueet';
	}
	a {
		text-decoration: none;
		display: inline-block;
	}
/* reusable classes */
	.full-width,
	.full-page {
		width: 100%;
	}
	.full-height, 
	.full-page {
		height: 100vh;
	}
	.vertical {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.central-text {
		width: 90vw;
		margin: 0 auto;
		text-align: center;
		font-family: 'SLight';
	}
	.gradient {
		background: #00afbf; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #00afbf 0%, #007a85 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #00afbf 0%,#007a85 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #00afbf 0%,#007a85 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00afbf', endColorstr='#007a85',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.light-gradient {
		background: #bfd9db; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #bfd9db 0%, #91d7dc 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #bfd9db 0%,#91d7dc 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #bfd9db 0%,#91d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd9db', endColorstr='#91d7dc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.no-overflow {
		overflow: hidden;
	}
	.logo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 1em 0;
	}
	.clear:after {
		content: "";
	  	display: table;
	  	clear: both;
	}
/* login */
	.login-form {
		background-color: #f6f6f6;
		padding: 1.5em;
		-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		border-radius: 10px;
	}
	.login-form input {
		width: 100%;
		border-top: 0;
		border-right: 0;
		border-bottom: 1px solid #c2c2c2;
		border-left: 0;
		background-color: transparent;
		margin: .5em 0;
		padding-left: .3em;
		font-family: 'Sueet';
		height: 1.5em;
		transition: color 1s;
	}
	.login-form input:focus, 
	.login-form input:active {
		border-color: #008d97;
		outline: none;
	}
	.login-form button {
		float: right;
		font-family: 'Sueet';
		border: 0;
		padding: .4em 1em;
		background-color: #008d97;
		color: white;
		margin: .3em 0;
	}
	::-webkit-input-placeholder {
	   color: #b2b3b7;
	   font-family: 'Sueet';
	}
	:-moz-placeholder { /* Firefox 18- */
	   color: #b2b3b7;  
	   font-family: 'Sueet';
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   color: #b2b3b7;  
	   font-family: 'Sueet';
	}
	:-ms-input-placeholder {  
	   color: #b2b3b7;  
	   font-family: 'Sueet';
	}
/* dash navbar */
	.dash-nav {
		background-color: #222;
		height: 5em;
		position: absolute;
		z-index: 1030;
		top: 0;
	}
	.dash-nav div,
	.dash-center {
		display: inline-block;
		vertical-align: top;
	}
	.nav-menu {
		float: right;
	}
	.nav-logo svg {
		width: inherit;
		height: 4.2em;
		float: left;
		margin: .4em 0;
	}
	.nav-menu svg {
		width: inherit;
		height: 2.5em;
		margin: 1.25em;
		fill: #f2f2f2;
	}
/* dash hidden menu */
	.hidden-menu {
		position: absolute;
		top: 0
		left: 0;
	}
/* dash menu */
	.vertical-nav {
		position: absolute;
		left: 0;
		display: inline-block;
		background-color: #0099a7;
		width: 4.5em;
		height: calc(100% - 5em);
		margin-top: 5em;
	}
/* dash center arena */
	.dash-center {
		position: absolute;
		top: 6em;
		left: 5.5em;
		width: calc(100% - 6.5em);
	}
	.dash-container {
		background-color: #f9f9f9;
		border: 1px solid #0099a7;
		border-radius: .5em;
		height: 3em;
		margin-top: 1em;
	}
	.dash-search input {
		border: 1px solid #0099a7;
		border-radius: 1.5em;
		padding: .5em 1em;
		width: calc(100% - 2em);
	}
/* dash tool bar */
	.bubble-container {
		margin: 1em auto;
	}
	.bubble-container * {
		margin: .2em auto;
		font-size: .95em;
	}
	.add-btn {
		padding: .5em 1em;
		background-color: #f9f9f9;
		border: .1em solid #0099a7;
		border-radius: 5px;
		color: #222;
	}
	a.action-link {
		text-decoration: underline;
		margin: .5em;
	}
	select {
		font-family: 'Sueet';
		padding: .3em .4em;
		border: 1px solid #0099a7;
		border-radius: 1.5em;
		outline: none;
	}
/* font faces */
	@font-face {
		font-family: 'Sueet';
		src: url('fonts/GothamMedium.otf');
	}
	@font-face {
		font-family: 'SLight';
		src: url('fonts/GothamThin.otf');
	}