/* tag Styles */
	* {
		margin: 0;
		padding: 0;
	}
	html {
		font-size: 16px;
	}
	body {
		font-size: 62.5%;
		font-family: 'Sueet';
	}
	a {
		text-decoration: none;
		display: inline-block;
	}
/* reusable classes */
	.full-width,
	.full-page {
		width: 100%;
	}
	.full-height, 
	.full-page {
		height: 100vh;
	}
	.vertical {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.central-text {
		width: 90vw;
		margin: 0 auto;
		text-align: center;
		font-family: 'SLight';
	}
	.gradient {
		background: #00afbf; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #00afbf 0%, #007a85 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #00afbf 0%,#007a85 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #00afbf 0%,#007a85 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00afbf', endColorstr='#007a85',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.light-gradient {
		background: #bfd9db; /* Old browsers */
		background: -moz-linear-gradient(-45deg, #bfd9db 0%, #91d7dc 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(-45deg, #bfd9db 0%,#91d7dc 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(135deg, #bfd9db 0%,#91d7dc 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bfd9db', endColorstr='#91d7dc',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	}
	.no-overflow {
		overflow-x: hidden;
	}
	.logo {
		width: 100%;
		height: 100%;
		margin: 0 auto;
		padding: 1em 0;
	}
	.clear:after {
		content: "";
	  	display: table;
	  	clear: both;
	}
/* login */
	.login-form {
		background-color: #f6f6f6;
		padding: 1.5em;
		-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		border-radius: 10px;
	}
	.login-form input {
		width: 100%;
		border-top: 0;
		border-right: 0;
		border-bottom: 1px solid #c2c2c2;
		border-left: 0;
		background-color: transparent;
		margin: .5em 0;
		padding-left: .3em;
		font-family: 'Sueet';
		height: 1.5em;
		transition: color 1s;
	}
	.login-form input:focus, 
	.login-form input:active {
		border-color: #008d97;
		outline: none;
	}
	.login-form button {
		float: right;
		font-family: 'Sueet';
		border: 0;
		padding: .4em 1em;
		background-color: #008d97;
		color: white;
		margin: .3em 0;
	}
	::-webkit-input-placeholder {
	   color: #b2b3b7;
	   font-family: 'Sueet';
	}
	:-moz-placeholder { /* Firefox 18- */
	   color: #b2b3b7;  
	   font-family: 'Sueet';
	}
	::-moz-placeholder {  /* Firefox 19+ */
	   color: #b2b3b7;  
	   font-family: 'Sueet';
	}
	:-ms-input-placeholder {  
	   color: #b2b3b7;  
	   font-family: 'Sueet';
	}
/* dash navbar */
	.dash-nav {
		background-color: #222;
		height: 5em;
		position: absolute;
		z-index: 1030;
		top: 0;
	}
	.dash-nav div,
	.dash-center {
		display: inline-block;
		vertical-align: top;
	}
	.nav-menu {
		float: right;
	}
	.nav-logo svg {
		width: inherit;
		height: 4.2em;
		float: left;
		margin: .4em 0;
	}
	.nav-menu svg {
		width: inherit;
		height: 2.5em;
		margin: 1.25em;
		fill: #f2f2f2;
	}
/* dash hidden menu */
	.hidden-menu {
		position: absolute;
		top: 0
		left: 0;
	}
/* dash menu */
	.vertical-nav {
		position: absolute;
		left: 0;
		display: inline-block;
		background-color: #0099a7;
		width: 6em;
		height: calc(100% - 5em);
		margin-top: 5em;
	}
	.vertical-nav ul {
		display: table;
		table-layout: fixed;
		width: 100%;
		height: 80%;
		box-sizing: border-box;
	}
	.vertical-nav li {
		text-align: center;
		display: table-row;
	}
	.vertical-nav svg {
		width: 3em;
		height: 3em;
		text-align: center;
		margin: .5em 1.9em;
	}
	.vertical-nav svg path {
		fill: #fff;
	}
	.vertical-nav a {
		display: table-cell;
		vertical-align: middle;
		width: 100%;
		font-size: .8em;
		text-align: center;
		color: #fff;
	}
/* dash center arena */
	.dash-center {
		position: absolute;
		top: 5.1em;
		left: 7em;
		width: calc(100% - 8.5em);
		height: calc(100% - 5.1em);
		overflow-y: scroll;
		overflow-x: hidden;
	}
	.dash-container {
		background-color: #f9f9f9;
		border: 1px solid #0099a7;
		border-radius: .5em;
		margin-top: .5em;
	}
	.dash-search {
		margin-top: 15px;
	}
	.dash-search input {
		border: 1px solid #0099a7;
		border-radius: 1.5em;
		padding: .5em 1em;
		width: calc(100% - 3em);
	}
	.dash-container img {
		height: inherit;
		max-width: 35%;
		display: inline-block;
		vertical-align: middle;
		padding: .5em;
	}
	.dash-container div {
		vertical-align: middle;
		display: inline-block;
	}
/* dash tool bar */
	.bubble-container {
		margin: 1em auto;
		font-size: .95em;
	}
	.bubble-container * {
		width: calc(100% - 3.5em);
		margin: .2em auto;
		font-size: .95em;
	}
	.add-btn {
		padding: 1em;
		background-color: #f9f9f9;
		border: .05em solid #0099a7;
		border-radius: 5px;
		color: #222;
	}
	a.action-link {
		text-decoration: underline;
		margin: .5em;
	}
	select {
		width: calc(100% - 1.5em) !important;
		font-family: 'Sueet';
		padding: 1em .5em;
		border: 1px solid #0099a7;
		border-radius: 1.5em;
		outline: none;
	}
/* dash-main */
	.dashboard-menu .dashboard-option,
	.dashboard-menu .dashboard-news {
		width: calc(100% - .75em);
	}
	.dashboard-menu .dashboard-news,
	.dashboard-menu .dashboard-option {
		position: relative;
		height: 130px;
		display: inline-block;
		background-color: #fff;
		margin: .3em;
		vertical-align: top;
		text-align: center;
		-webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
		box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.75);
	}
	.dashboard-menu .dashboard-news {
		margin-bottom: 15px;
	}
	.dashboard-news h2,
	.dashboard-option h2 {
		font-size: 1.5em;
		font-family: 'SLight';
		font-weight: bold;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
/* dash-forms */
	.dashboard-form {
		border-radius: 15px;
		background-color: #fff;
		border: 1px solid #0099a7;
		width: calc(100% - .2em);
		overflow: hidden;
		position: relative;
		margin-bottom: 1em;
	}
	.dashboard-form h3 {
		font-size: 1.5em;
		text-align: center;
		color: white;
		padding: 1em;
		background-color: #0099a7;
	}
	.dashboard-form button {
		background-color: #0099a7;
		float: right;
		font-family: 'SLight';
		font-size: 1.5em;
		font-weight: bold;
		border-radius: 5px;
		border: 0px;
		color: white;
		padding: .5em 1em;
		margin: 0 2em 1em 0;
	}
	.form-links {
		display: block;
		text-align: center;
	}
	.form-part {
		margin: 1em 0;
		display: block;
	}
	.form-part * {
		padding-left: .5em;
		font-family: 'SLight';
		font-weight: bold;
	}
	.form-part p {
		font-family: 'Sueet';
		font-size: 1.1em;
		margin: .3em .1em;
	}
	.form-part p.check-label {
		display: inline-block;
		margin: .5em .2em;
		color: #a3a3a3;
	    font-family: 'SLight';  
	    font-weight: bold;
	}
	.form-part input {
		width: 94%;
		margin: .3em 0;
		padding: .6em 0 .2em;
		border-width: 0 0 2px 0;
	}
	.form-part input.checkbox {
		width: 30px;
		margin: 0;
		padding: 0;
		display: inline-block;
		position: relative;
		top: 3px;
	}
	.form-part a {
		border-radius: 10px;
		font-size: 1.3em;
		border: 1px solid #0099a7;
		padding: .5em 1.5em;
		margin: .3em;
		color: #a3a3a3;
		transition: background-color .5s;
	}
	.form-part ::-webkit-input-placeholder {
	   color: #a3a3a3;
	   font-family: 'SLight';
	   font-weight: bold;
	   font-size: .9em;
	}
	.form-part :-moz-placeholder { /* Firefox 18- */
	   color: #a3a3a3;
	   font-family: 'SLight';  
	   font-weight: bold;
	   font-size: .9em
	}
	.form-part ::-moz-placeholder {  /* Firefox 19+ */
	   color: #a3a3a3;
	   font-family: 'SLight';  
	   font-weight: bold;
	   font-size: .9em;
	}
	.form-part :-ms-input-placeholder {  
	   color: #a3a3a3;
	   font-family: 'SLight';  
	   font-weight: bold;
	   font-size: .9em;
	}
	.form-part .selected {
		background-color: #0099a7;
		color: white;
	}
/* dash-comms */ 
	.comm-container {
		background-color: white;
		border: 1px solid #0099a7;
		padding: 8px;
		margin: 5px 0;
		border-radius: 5px;
		color: black;
	}
	.comm-container * {
		display: inline-block;
		vertical-align: top;
	}
	.comm-container div {
		max-height: 999px;
		float: left;
	}
	.comm-container img {
		width: 60px;
	}
	.comm-container p,
	.comm-container h2 {
		max-width: calc(100% - 69px);
		margin-left: 9px;
	}
	.comm-container h2 {
		margin-bottom: 9px;
	}
/* dash-docs */
	a.docs {
		background-color: white;
		display: block;
		margin: 8px 0;
		padding: 5px;
		border: 1px solid #0099a7;
		border-radius: 5px;
	}
	a.docs * {
		display: inline-block;
		vertical-align: top;
	}
	a.docs p {
		display: block;
		line-height: 150%;
		color: #030303;
		margin-left: 5px;
	}
	a.docs img {
		max-width: 100px;
	}
/* font faces */
	@font-face {
		font-family: 'Sueet';
		src: url('fonts/GothamMedium.otf');
	}
	@font-face {
		font-family: 'SLight';
		src: url('fonts/GothamThin.otf');
	}
/* media queries */
	@media screen and (max-height: 385px) { /* .vertical-nav does not fit in screens <385px tall, fixed */
		.vertical-nav svg {
			width: 2.5em;
			height: 2.5em;
		}
	}