<div class="dash-search">
	<input type="text" name="searchbar" ng-bind="search" placeholder="Buscar...">
</div>
<dash-tools></dash-tools>
<a href ng-click="logout();">Logout</a>
<div ng-controller="mainDashCtrl">	
	<div class="dash-container" ng-repeat="p in properties">
		<img src="img/building.jpg">
		<div class="">
			<h5>{{p.name}}</h5>
			<p>{{p.AddressStreet}}</p>
			<p>{{p.AdressDistrict}} CP {{p.AdressZip}}</p>
			<p>{{p.AdressCity}}, {{p.AdressState}}</p>
			<a href>Responsable: {{p.idManager}}</a>
		</div>	
	</div>
</div>	