// @import 'reset.scss'; 
@import 'variables.scss';
@import 'fonts.scss';

* {
	margin: 0px;
	padding: 0px;
	font-family: 'Gotham';
	font-weight: 500;
}

a {
	text-decoration: none;
}
body {
	overflow: hidden;
}

/* reusable classes */
	.full-page,
	.full-width {
		width: 100%;
	}

	.full-page,
	.full-height {
		height: 100vh;
		overflow-y: hidden;
	}

	.centered { // requires position: relative; on parent element
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	[data-form="login"] {
		color: $grayOnGray;
		input {
			margin: 2.5px 0;
			padding: 5px;
			border-top: 0;
			border-right: 0;
			border-bottom: 1px solid $blackText;
			border-left: 0;
			background-color: transparent;
			width: 100%;
			max-width: calc(100% - 10px);
		}
		button {
			background-color: white;
			border: 2px solid $turquoise;
			width: 100%;
			border-radius: 5px;
			padding: 14px 0;
			font-size: 15px;
			margin-top: 5px;
		}

		::-webkit-input-placeholder {
		   color: $grayOnGray;
		}
	}

	[regresar] {
		background-color: white;
		padding: 8px;
		margin: 8px 0;
		display:  inline-block;
		vertical-align: top;
		border-radius: 15px;
		border: 1px solid $faded;
		color: black;
		img {
			height: 20px;
			width: 20px;
			margin-right: 5px;
			position: relative;
			top: 2px;
		}
		span {
			font-size: 13px;
			position: relative;
			top: -3px;
		}
	}

	[container] {
		display: block;
		margin: 15px auto;
		width: calc(100% - 15px);
	}

	[table] {
		border-radius: 15px 15px 0 0;
		overflow: hidden;
		background-color: white;
		[table-body] {
			background-color: white;
			// padding: 15px;
			[table-row] {
				width: calc(100%);
				display: block;
				margin: 0 auto;
				padding: 15px 5px;
				border-bottom: 1px solid $turquoise;
				cursor: pointer;
				position: relative;
				font-size: 12px;
				button {
					padding: 8px 16px;
					color: $grayOnGray;
					background-color: white;
					border: 1px solid $turquoise;
					border-radius: 5px;
					float: right;
					position: absolute;
					top: 13px;
					right: 20px;
				}
				span {
					position: absolute;
					top: 23px;
					left: 200px;
					text-align: center;
					width: 150px;

				}
				span.debt {
					color: red;
				}
				span.over {
					color: green;
				}
				span.normal {
					color: $grayOnGray;
				}
			}
			[table-row]:nth-child(even) {
				// background-color: $headers;
			}
		}
		table {
			width: 100%;
			padding: 2px;
			font-size: 12px;
			border: 0;
			tr:nth-child(even) {
				background-color: #f5f5f5;
			}
			
			tr {
				margin-left: 41px;
				td {
					padding: 0;
					margin: 0;
					text-align: center;
				}
				td.focused {
					background-color: #e3e3e3;
					text-align: left;
				}
			}
			
		}
	}

/* login */

	[data-contents="login-form"] {
		overflow: hidden;
		background-color: $turquoise;
		.login {
			padding: 10%;
			background-color: white;
			border-radius: 15px;
			min-width: 200px;
			img {
				max-width: 100%;
			}
		}
	}

/* main app styles */

	[data-contents="black-bar"] {
		height: 50px;
		background-color: $black;
		position: fixed;
		img {
			height: 40px;
			margin-top: 5px;
			vertical-align: top;
		}
		.ham-menu img {
			float: right;
			margin: 10px;
			height: 30px;
		}

		#nav-icon4 {
		 	width: 50px;
		  	height: 50px;
		  	position: relative;
		  	transform: rotate(0deg);
		  	transition: .5s ease-in-out;
		  	cursor: pointer;
		  	display: inline-block;
		  	vertical-align: top;
		  	float: right;
		}

		#nav-icon4 span {
		  	display: block;
		  	margin: 0  auto;
		  	position: absolute;
		  	height: 3px;
		  	width: 30px;
		  	background: #fff;
		  	border-radius: 9px;
		  	opacity: 1;
		  	left: 10px;
		  	transform: rotate(0deg);
		  	transition: .25s ease-in-out;
		}

		#nav-icon4 span:nth-child(1) {
		  	top: 17px;
		  	transform-origin: left center;
		}

		#nav-icon4 span:nth-child(2) {
		  	top: 25px;
		  	transform-origin: left center;
		}

		#nav-icon4 span:nth-child(3) {
		  	top: 33px;
		  	transform-origin: left center;
		}

		#nav-icon4.open {
			background-color: $darkBlue;
		}

		#nav-icon4.open span:nth-child(1) {
		  	transform: rotate(45deg);
		  	top: 13px;
		  	left: 15px;
		}

		#nav-icon4.open span:nth-child(2) {
		  	width: 0%;
		  	opacity: 0;
		}

		#nav-icon4.open span:nth-child(3) {
		  	transform: rotate(-45deg);
		  	top: 34px;
		  	left: 15px;
		}
	}

	[data-contents="userProfile"] {
		height: 100vh;
		width: calc(100% - 50px);
		position: fixed;
		z-index: 5;
		left: 100%;
		top: 50px;
		background: transparent;
		transition: .5s ease-in-out;
	}

	[data-contents="userProfile"].open {
		left: 50px;
		background: $darkBlue;
		transition: .5s ease-in-out;
	}

	[data-contents="left-menu"] {
		background-color: $turquoise;
		width: 50px;
		position: fixed;
		height: calc(100% - 50px);
		top: 50px;
		ul {
			margin-top: 15px;
			display: table;
			height: 80%;
			a {
				color: white;
				display: table-row;
				li {
					img {
						width: 30px;
						height: 30px;
						margin-left: 10px;
						display: inline-block;
					}
					span {
						display: block; 
						font-size: 7px;
						font-weight: 100;
						width: 50px;
						// margin: 0 auto;
						text-align: center;
					}
				}
			}
		}
	}

	.arena {
		position: fixed;
		top: 50px;
		left: 50px;
		height: calc(100% - 50px);
		width: calc(100% - 50px);
		background-color: $faded;
		overflow-y: scroll;
	}

/* arena styles */

	[arena-container] {
		width: calc(100% - 10px);
		margin: auto;
	}
	
	[search] {
		width: calc(100% - 15px);
		display: block;
		margin: 0 auto;
		input {
			width: calc(100% - 50px);
			padding: 15px;
			margin: 8px 0;
			border-radius: 15px;
			border: 0;
		}
	}

	[add] {
		padding: 8px 12px;
		background-color: white;
		display: inline-block;
		color: $grayOnGray; 
		font-size: 14px;
		margin: 8px 0;
		border-radius: 15px;
	} 

	[link] {
		color: $turquoise;
		font-size: 14px;
		text-decoration: underline;
	}

	[card-container] {
		[card] {
			width: calc(100% - 10px);
			background-color: white;
			display: block;
			margin: 5px auto;
			border-radius: 5px;
			cursor: pointer;
			img {
				width: calc(100% - 16px);
				display: inline-block;
				padding: 8px;
			}
			h5, p, a {
				display: block;
				font-size: 12px;
				font-weight: normal;
				padding-left: 8px;
				line-height: 1.3;
			}
			h5 {
				font-size: 14px;
			}
			[info] {
				padding-bottom: 8px;
			}
		}
	}

	

	h3 {
		font-size: 18px;
		background-color: $headers;
		padding: 20px;
		text-align: center;
	}

	[form-container] {
		display: block;
		margin: 15px auto;
		width: calc(100% - 15px);
		[add-form] {
			background-color: white;
			border-radius: 15px;
			border: 1px solid $faded;
			overflow: hidden; 
			
			[form-part] {
				padding: 15px;
				input, textarea {
					display: block;
					font-size: 14px;
					padding: 8px;
					margin: 8px;
					width: calc(100% - 35px);
					border: 1px solid $turquoise;
					border-radius: 5px;
					color: $blackText;
				}
				[form-links] {
					width: 100%;
					display: block;
					margin: 0 auto;
					padding-top: 30px;
					a {
						padding: 15px;
						font-size: 12px;
						border: 1px solid $faded;
						border-radius: 15px;
						color: $grayOnGray;
					}
					a.active {
						background-color: $turquoise;
						color: white;
					}
				}
				[mod-fields] {
					border: 1px solid $turquoise;
					padding: 8px;
					margin-left: 10px;
					position: relative;
					top: 15px;
					color: $grayOnGray;
					border-radius: 5px;
				}
				button {
					background-color: $headers;
					border: 1px solid $turquoise;
					border-radius: 15px;
					display: block;
					margin: 15px auto;
					padding: 8px 16px;
					text-align: center;
				}
			}
		}
	}

	

	#gmaps {
		max-height: 450px;
		max-width: 450px;
	    width: 100%;
	    height: 215px;
	}

	#gmaps-big {
		width: 100%;
		height: calc(100vh - 60px);
	}

/* media queries */
	
	@media screen and (min-width: 550px) {

		[data-contents="userProfile"] {
			width: calc(100% - 150px);
		}

		[data-contents="userProfile"].open {
			left: 150px;
		}

		[data-contents="left-menu"] {
			z-index: 2;
			width: 150px;
			ul {
				margin-top: 7.5px;
				width: 150px;
				a {
					li {
						img {
							width: 25px;
							height: 25px;
						}
						span {
							display: inline-block;
							vertical-align: top;
							font-size: 15px;
							margin-left: 5px;
							margin-top: 5px;
						}
					}
				}
			}
		}
		.arena {
			width: calc(100% - 150px);
			left: 150px;
			img {
				
			}
		}
	}

	@media screen and (min-width: 760px) {
		[arena-container] {
			width: 600px;
		}

		[search] {
			width: 600px;
		}

		[data-contents="left-menu"] {
			ul {
				height: 50%;
			}
		}

		[card-container] {
			[card] {
				width: 600px;
				img {
					width: 160px;
					height: 100px;
				}
				[info] {
					display: inline-block;
					vertical-align: top;
					margin-top: 8px;
				}
			}
		}

		[form-container] {
			width: 600px;
			[add-form] {
				[form-part] {
					padding: 15px;
					input, textarea {
						display: block;
						font-size: 14px;
						padding: 8px;
						margin: 8px;
						width: 420px;
						border: 1px solid $turquoise;
						border-radius: 5px;
						color: $blackText;
					}
					[form-links] {
						width: 50%;
						a {
							width: 	125px;
						}
					}
					[mod-fields] {
						border: 1px solid $turquoise;
						padding: 8px;
						margin-left: 10px;
						position: relative;
						top: 15px;
						color: $grayOnGray;
						border-radius: 5px;
					}
				}
			}
		}

		#gmaps {
		    width: 450px;
		    height: 450px;
		}

		#gmaps-big {
			width: 100%;
			height: calc(100vh - 60px);
			max-height: 500px;
		}
	}