/* colors */
	$turquoise: #0099a7;
	$faded: #85c5cb;
	$pastel: #bfd9db;
	$black: #000000;
	$gray: #f2f2f2;
	$darkBlue: #222a35;
	$headers: #91d1d7;

/* text */
	$blackText: #3e3e3e;
	$grayText: #7f7f7f;
	$grayOnGray: #808080;
	$whiteText: #fffff;