<div class="dashboard-form">
	<form method="POST" action="php/services/misc/newComms.php">
		<h3>Nuevo comunicado</h3>
		<div class="form-part">
			<p>1. Elegir un título*</p>
			<div class="form-input">
				<input type="text" placeholder="Título de la publicación" name="comm-title" ng-model="title">
			</div>
			<p>2. Escribe tu mensaje*</p>
			<div class="form-input">
				<input type="text" placeholder="Mensaje" name="comm-text" ng-model="text">
			</div>
			<p>3. Elige un ícono*</p>
			<div class="form-links">
				<a href ng-class="{selected: icon==0}" ng-click="chooseIcon(0);">Default</a>
				<a href ng-class="{selected: icon==1}" ng-click="chooseIcon(1);">Mantenimiento</a>
			</div>

			<p>4. Complejos que van a ver el mensaje*</p>
			<div class="form-input">
				<p class="check-label">Todos</p>
				<input class="checkbox" type="checkbox" name="comm-complex" ng-model="comm-reach" value="all"><br>
				<p class="check-label">Sunny Hill Valley</p>
				<input class="checkbox" type="checkbox" name="comm-complex" ng-model="comm-reach" value="c1"><br>
				<p class="check-label">Dryland Flats</p>
				<input class="checkbox" type="checkbox" name="comm-complex" ng-model="comm-reach" value="c2"><br> 
				<p class="check-label">Loma Dorada</p>
				<input class="checkbox" type="checkbox" name="comm-complex" ng-model="comm-reach" value="c3"><br> 
			</div>
			<p>5. Permitir respuestas?</p>
			<div class="form-input">
				<p class="check-label">Permitir</p>
				<input class="checkbox" type="checkbox" name="comm-comments" ng-model="comments">
			</div>
			<p>6. Agrega una imagen para el mensaje</p>
			<div class="form-input">
				<input type="file" placeholder="Elije una imagen para mostrar" name="property-street" ng-model="street">
			</div>
			<div class="property-img">
				<div><!-- sample --></div>
			</div>
		</div>
		<button>Guardar</button>
	</form>
</div>