<div arena-container>
	<div search>
		<input type="text" ng-model="searchBar" name="searchbar" ng-bind="search" placeholder="Buscar unidades...">
	</div>

	<div container>
		<a ui-sref="app.units" regresar>
			<img src="img/icons/left.svg" title="Regresar" alt="Regresar">
			<span>Regresar</span>
		</a>

		<br>

		<a ui-sref="app.unit-fees({id: units[0].unitId })" add>Ajuste de cuotas</a>
		<a ui-sref="app.units" link>Ver residentes</a>

		<div table>
			<h3>Propiedad: {{units[0].unitName}}</h3>
			<div table-body>
				<div table-row ng-repeat="unit in units | filter: searchBar" ui-sref="app.units">
					<p>{{unit.towerName}} - {{unit.number}}</p>
					<p>Dueño: {{unit.ownerLast}}</p>
					<span ng-class="insertClass(unit.debt)" debt>{{unit.debt | sueetCurrency }} MXP</span>
					<button>Enviar mensaje</button>
				</div>
			</div>
		</div>
	</div>
</div>
